@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Forum&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Squada+One&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
    list-style: none;
    text-decoration: none;
}


:root {
    --main-color: #2288ff;
    --second-color: #192f6a;
    --text-color: #314862;
    --bg-color: #fff;

    --box-shadow: 2px 2px 18px rgba(14 52 54 / 15%);
}

img {
    width: 100%;
}

body {
    color: var(--text-color);
}

.container {
    max-width: 1068px;
    margin: auto;
}

header {
    display: block;
    width: 100%;
    background: var(--bg-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}


.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}

.logo {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    color: var(--text-color);
    text-decoration: uppercase;
}

.logo .bx {
    font-size: 24px;
    color: var(--main-color);
}

.navbar {
    display: flex;
}

.navbar a {
    padding: 8px 17px;
    color: var(--text-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar a:hover {
    color: var(--main-color);
}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    display: none;
}

#menu {
    display: none;
}

.btn {
    padding: 8px 22px;
    background: var(--main-color);
    color: var(--bg-color);
    border-radius: 5rem;
}

.btn:hover {
    background: #3492fd;
}